
body{
	width:1000px;
	margin:0 auto;
}
#personal{
	width:1000px;
	height:30px;
	background: red;
}
#personal div{
	width:50px;
	height:30px;
	line-height:30px;
	background:pink;
	float:left;
	position:relative;
	left:840px;
	text-align:center;
}
#personal .reg{
	cursor:pointer;
}
#personal .login{
	cursor:pointer;
}
#zhuce{
	z-index: 9999;
	position:absolute;
	width:500px;
	height: 500px;
	border:1px solid;
	display: none;
}
#zhuce h2{
	height: 30px;
	line-height: 30px;
	text-align:center;
	background:url(../images/header_bg.png);
}
#zhuce img{
	position:absolute;
	left:480px;
	top:7px;
	cursor: pointer;
}
#zhuce form dl{
	margin:30px 50px;
}
#zhuce form dl dd{
	margin:10px 0;
}
#login{
	z-index: 9999;
	position:absolute;
	width:500px;
	height: 500px;
	border:1px solid;
	display: none;
}
#login h2{
	height: 30px;
	line-height: 30px;
	text-align:center;
	background:url(../images/header_bg.png);
}
#login img{
	position:absolute;
	left:480px;
	top:7px;
	cursor: pointer;
}
#login form dl{
	margin:30px 50px;
}
#login form dl dd{
	margin:10px 0;
}
#blog{
	z-index: 9999;
	position:absolute;
	width:500px;
	height: 500px;
	border:1px solid;
}
#blog h2{
	height: 30px;
	line-height: 30px;
	text-align:center;
	background:url(../images/header_bg.png);
}
#blog img{
	position:absolute;
	left:480px;
	top:7px;
	cursor: pointer;
}
#blog form dl{
	margin:30px 40px;
}
#blog form dl dd{
	margin:10px 0;
}
#blog form dl dd .title{
	height: 30px;
	width:150px;
}
#blog form dl dd textarea{
	height: 150px;
	width:300px;
}
#blog form dl dd .submit{
	width:100px;
	height: 30px;
	margin-left:67px;
	margin-top:20px;
	background:url(../images/blog_button.png);
}
#personal .login{
	cursor:pointer;
}
#personal .member{
	cursor:pointer;
}
#personal .member .person{
	background:#FBF7E1;
	width:50px;
	height:120px;
	display:none;
}
#personal .member ul li{
	height:30px;
}
#personal .member .person li:hover{
	background:red;
}
#header{
	width:1000px;
	height:132px;
	margin:0 auto;
	background:#ffffcd;
	border-radius:5px;
	clear:left;
}
#header .logo{
	width:500px;
	height: 132px;
	float:left;
}
#header .logo a{
	display:block;
	height:132px;
}
#header .logo a img{
	padding-top:20px;
	padding-left:10px;
}
#header .logo_text{
	width:500px;
	height:132px;
	float:right;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header .logo_text p{
	color:#646060;
	padding: 5px;	
	font-size:15px;
	font-weight:900;
	font-family: sans-serif;
}
#nav{
	background: #AAAAAA;
	margin:5px 0;
	width:1000px;
	height:50px;
	border-radius:5px;
}
#nav ul li{
	width:140px;
	background:#AAAAAA;
	float:left;
	line-height: 50px;
	font-size:16px;
	font-family: sans-serif;
	margin-left:2.5px;
	border-radius:5px;
	
}
#nav ul li:hover{
	background:#FF8888;

}
#nav ul li a{
	color:#fff;
	display:block;
	text-decoration:none;
	text-align: center;
}
#nav ul .shouye{
	background:#FF8888;
}
#banner{
	width:1000px;
	height: 320px;
}
#banner .left{
	width:620px;
	float:left;
}
#banner .left .left-inner{
	position:relative;
}
#banner .left .left-inner img{
	position:absolute;
	top:0;
	left:0;
}
#banner .left .panagation{
	width:110px;
	float:right;
	margin-right:20px;
}
#banner .left .panagation img{
	width:100px;
	height: 50px;
	margin:5px;
	cursor:pointer;
}
#banner .right{
	width:380px;
	height:272px;
	margin-top:13px;
	float:right;
}
#main{
	width:1000px;
	background:pink;
}
#main #solltest{
	height:30px;
}
#main #solltest span{
	line-height: 30px;
	font: 16px/1 "Microsoft yahei",arial;
}
#main #solltest strong{
	line-height: 30px;
	margin-left:760px;
	font-size:14px;
}
#main .main-left{
	width:700px;
	background: red;
	float:left;
}
#main .main-left .content{
}
#main .main-left .content .clearfix{
	height:200px;
	margin:0 0 10px 0;
	background: blue;
}
#main .main-left .content .clearfix h3{
	height:30px;
	line-height: 30px;
	background: #ccc;
	text-indent:10px;
}
#main .main-left .content .clearfix .neirong{
	height:160px;
	padding-top:10px;
	background:pink;
	text-indent: 20px;
	overflow: hidden; 
}
#main .main-left .content .clearfix .zuo{
	width:150px;
	height:120px;
	background: yellow; 
	float:left;
}
#main .main-left .content .clearfix .you{
	width:450px;
	height:120px;
	background:blue;
	float:left;
	clear:right;    /* 右边就不能浮动别的元素了*/ 
}
#main .main-left .content .clearfix .you p{
	width:450px;
	height:70px;
	background: red;
}
#main .main-left .content .clearfix .you a{
	margin:20px 0 0 350px;
	display: block;
}
#main .main-right{
	width:300px;
	background:green;
	float:left;
}
#main .main-right .m_nav li{
	width:130px;
	height:50px;
	background: red;		
	float:left;
	text-align:center;
	line-height: 50px;
	margin-left:15px;
	    
}
#main .main-right .m_nav li:hover{
	-webkit-transition:all 1s ease-in-out;
	-webkit-transform:rotate(360deg) scale(1,1);
	
}
#main .main-right .m_nav .nav1{
	margin-bottom:20px;
	background-color:#CC9966; 

}
#main .main-right .m_nav .nav2{
	margin-bottom:20px;
	background-color:#01CCCC; 
}
#main .main-right .m_nav .nav4{
	background-color:#FD8A61;
}
#main .main-right .m_nav .nav3{
	background:#858585;
}
#main .main-right .m_nav li a{
	color:#fff;
	font-weight: bold;
	font-size:16px;
	text-decoration:none;
}
#main .main-right div{
	float:left;
}
#main .main-right .tuijian,.click{
	width:300px;
	height:230px;
	background:red;
	margin-top:20px;
}
#main .main-right .tuijian h2{
	background:yellow;
	text-indent:10px;
	font-size:16px;
	font-weight:bold;
	height:30px;
	line-height: 30px;
}
#main .main-right .tuijian .zhan span{
	margin-left:190px;
	background: yellow;
}
#main .main-right .click h2{
	background:yellow;
	text-indent:10px;
	font-size:16px;
	font-weight:bold;
	height:30px;
	line-height: 30px;
}
#top{
	width:60px;
	height:60px;
	background:url(../images/top.gif);
	z-index:9999;
	position: fixed;
	left:1200px;
	top:350px;
	cursor: pointer;
	
}













